.FormContainer{
    width: 26rem;
    height: 32rem;
}
.Form{
    height: 60%;
}
.Form input{
 padding: 5px;
}



/* Estilos para pantallas  en modo vertical */
@media (max-width: 915px) and (orientation: portrait) {
  /* Estilos para modo vertical */
  .FormContainer{
  width: 20rem;
  height: 25rem;
  }
}

/* Estilos para pantallas con ancho máximo de 915px en modo horizontal */
@media (max-width: 915px) and (orientation: landscape) {
  /* Estilos para modo horizontal */
  .FormContainer{
      width: 20rem;
      height: 25rem;
      }
      .pwforgot span{
        font-size: 0.9rem;
      }
  
}
/* Estilos para pantallas  en modo vertical */
@media (max-width: 900px) and (orientation: portrait) {
  /* Estilos para modo vertical */
  .FormContainer{
  width: 20rem;
  height: 25rem;
  }
}

/* Estilos para pantallas con ancho máximo de 900px en modo horizontal */
@media (max-width: 900px) and (orientation: landscape) {
  /* Estilos para modo horizontal */
  .FormContainer{
      width: 20rem;
      height: 25rem;

      }
      .pwforgot span{
        font-size: 0.9rem;
      }
  
}

/*----------------------------------------------------------------------------*/

/* Estilos para pantallas  en modo vertical */
@media (max-width: 768px) and (orientation: portrait) {
    /* Estilos para modo vertical */
    .FormContainer{
    width: 20rem;
    height: 25rem;
  
    }
  }
  
  /* Estilos para pantallas  en modo horizontal */
  @media (max-width: 768px) and (orientation: landscape) {
    /* Estilos para modo horizontal */
    /* .FormContainer{
        width: 20rem;
        height: 17rem;
        color: rgb(9, 51, 0);
        } */
  }
/* Estilos para pantallas  en modo vertical */
@media (max-width: 740px) and (orientation: portrait) {
    /* Estilos para modo vertical */
    .FormContainer{
    width: 20rem;
    height: 25rem;
  
    }
  }
  
  /* Estilos para pantallas con ancho máximo de 740px en modo horizontal */
  @media (max-width: 740px) and (orientation: landscape) {
    /* Estilos para modo horizontal */
    .FormContainer{
      margin-top: 150px;
        width: 20rem;
        height: 28rem;

        }
  }
  
/*----------------------------------------------------------------------------*/
  @media (max-width: 668px) and (orientation: portrait) {
   .FormContainer{
    /* color: blue; */
   }
   .Form input{
    padding: 5px;
   }
   
  }

  @media (max-width: 668px) and (orientation: landscape) {
    .FormContainer{
       margin-top: 150px;
    }
    .Form input{
      padding: 3px;
     }
     .pwforgot span{
      font-size: 0.9rem;
    }
  }
/*----------------------------------------------------------------------------*/
  @media (max-width: 653px) and (orientation: portrait) {
   .FormContainer{
   
   }
  }

  @media (max-width: 653px) and (orientation: landscape) {
    .FormContainer{
      margin-top: 150px;
      overflow: scroll;
        height: 25rem;
    }
    .Form input{
      padding: 1px;
    }
  }
/*----------------------------------------------------------------------------*/
  @media (max-width: 540px) and (orientation: portrait) {
   .FormContainer{
     
   }
   .pwforgot{
    font-size: 0.9rem;
  }
  }

  /* @media (max-width: 540px) and (orientation: landscape) {
    .FormContainer{
        height: 17rem;
        color:  rgb(255, 80, 176);
    }
    .pwforgot{
      background-color: black;
    }
  } */
/*----------------------------------------------------------------------------*/
  @media (max-width: 415px) and (orientation: portrait) {
   .FormContainer{
     height: 28rem;
   }
   .Form input{
    padding: 2px;
   }
  
   .pwforgot{
    font-size: 0.8rem;
  }
  .googleButtonSection{
    height: 20%;
  }
  .googleButtonSection button{
    width: 70%;
  }
  }

  /* @media (max-width: 300px) and (orientation: landscape) {
    .FormContainer{
      
    }
    .pwforgot{
  
    }
  } */