@font-face {
    font-family: 'Fredoka One';
    src: url('../../public/fonts/Fredoka/Fredoka.ttf') format('truetype');
  }
.List a{
    font-family: 'Fredoka One';
    font-weight: 600;
}
.List li:nth-child(7){
    background-color:#FF3D00;
    
    border-radius:10px ;
}
.List li{
    font-size: 1.4rem;
    padding:5px;
}
.List li:nth-child(3):hover .SubHrefs{ /* al pasar el mouse por el elemento li numero 3 se mostrara un submenu   */
 display: flex;
 align-items: flex-end;
}

