.Container{
    background-color: rgb(255, 201, 52);
    border: 0px;
    border-top: 1px;
    border-bottom: 1px;
    border-style:dashed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Text{
    margin: 20px;
}
.Text p{
    
    font-size: 38px;
 text-align: center;

 width: auto ;
 margin: 0 auto;
 margin-top: 10px;
}
.Title{
    margin: 0;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    letter-spacing: -0.5px;
}

.FormContainer{
    background-color: #FFC172;
    border-radius:10px ;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    height: 80%;
    margin-left: 60px;
}
.FirstSection{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 10px;
}
.FirstSection span{
    font-size: 20px;
}
.Form{
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 10px;
}
.Form label{
    margin: 4px;
}
.Form input{
    width: 93%;
    padding: 13px;
    border-radius: 5px;
    border: none;
}
.Form button{
    background-color: #26798E;
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}
.Form button:hover{
    background-color: #1c5f70;
}

@media(max-width:780px){
    .Text{
        margin: 0;
    }
    .Text p{
        font-size: 28px;
        margin: 0;
    }
    .Title{
        font-size: 28px;
        margin: 0;
    }
    .FormContainer{
        margin: 0 auto;
    }
    .Form{
        width: auto;
        margin: 0;
    }
}